Repository dominikmn/one-million-posts, pull requests merged in 2021-04, with the labels that each got.

#15 Eda issue #8 structure discussion trees
  notebooks/eda_discussion_trees.py
  utils/feature_engineering.py
  utils/loading.py
Labels: EDA

#13 Eda issue 7 wordclouds for labels
  eda_wordclouds.py
  requirements.txt
  utils/cleaning.py
  utils/feature_engineering.py
  utils/loading.py
  utils/visualizing.py
Labels: EDA

#26 Issue #25: Analysis of the annotation composition
  .gitignore
  eda-annotation-analysis.py
  presentations/One Million Posts - Annotation composition.pdf
Labels: EDA

#35 Modeling issue 28 train test split
  utils/loading.py
  utils/train_test_val_split.py
Labels: Modeling

#37 Modeling issue 31 naive bayes
  modeling/naive_bayes.py
  utils/feature_engineering.py
Labels: Modeling

#41 Frequent article categories
  eda_posts_vs_categories.py
  pictures/num_articles_per_category.png
  pictures/num_articles_per_category_RdPu.png
Labels: EDA

#42 Eda issue 39 distribution of lables
  eda_label_distribution.py
  pictures/positive_annotations_per_label.png
  pictures/positive_annotations_per_label_stacked.png
  pictures/positive_annotations_per_label_stacked_ylim1.png
  pictures/positive_annotations_per_label_with_count.png
Labels: EDA

#63 Issue 57 oversampling
  modeling/oversampling-vs-augmentation.py
  utils/augmenting.py
Labels: Modeling

#62 Modeling issue 59 template script
  modeling/config.py
  modeling/model_template.py
  modeling_template.py
  requirements.txt
  utils/modeling.py
Labels: Modeling, enhancement

#80 Modeling issue 71 run logreg round2
  .gitignore
  modeling/log_reg.py
  utils/cleaning.py
  utils/modeling.py
  utils/transformers.py
Labels: Modeling, enhancement

#93 Issue #86: add new label "label_needsmoderation"
  utils/feature_engineering.py
Labels: FeatureEngineering

#88 Issue 57 oversampling
  output/trans_label_discriminating.csv
  output/trans_label_inappropriate.csv
  output/trans_label_needsmoderation.csv
  output/trans_label_negative.csv
  output/trans_label_offtopic.csv
  output/trans_label_sentimentnegative.csv
  output/trans_val_label_discriminating.csv
  output/trans_val_label_inappropriate.csv
  translation_validation.py
  utils/augmenting.py
  utils/create_label_needsmoderation_csv.py
Labels: Research, enhancement

#96 Modeling issue 89 modeling template cycle 3 random forest
  modeling/random_forest.py
Labels: Modeling

#104 Enhancement issue 83 update utils modeling cycle 3
  utils/modeling.py
  utils/scoring.py
Labels: enhancement

#109 Issue #108 Add new moderation labels to post
  utils/modeling.py
Labels: bug

#107 Issue #106 Speedup generating label_needsmoderation
  utils/feature_engineering.py
Labels: enhancement

#111 Issue #110 Fix missing NaN in new label_needsmoderation
  utils/feature_engineering.py
Labels: bug

#84 Modeling issue 22 gbert
  modeling/gbert_classifier.py
  requirements.txt
Labels: Modeling

#133 Visualization issue 79 draft dashboard
  Makefile
  Procfile
  app.py
  assets/style.css
  prediction_server.py
  requirements_backend.txt
  requirements_dashboard.txt
  runtime.txt
Labels: Visualization
